* {
    font-family: "Roboto", sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
}

html {
    font-size: 16px;
}


body {
    background-color: rgb(0, 33, 115);
}

input, button {
    border: none;
}

button:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.wrapper {
    margin: 40px;

    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 20px;
    min-height: calc(100vh - 80px);
}

.courses, .todo-list {
    background-color: white;
    border-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    padding: 40px;

    display: flex;
    flex-direction: column;
    gap: 40px;
}

.todo-list {
    gap: 20px;
}

.courses-heading {
    display: flex;
    align-items: center;
    height: 56px;
}

button {
    background-color: white;
    border: 2px dotted #91acf3;
    padding: 10px 20px;
    border-radius: 5px;
    font-weight: bold;
    font-size: 1.75rem;
}

#newCourseBtn {
    background-color: white;
    border: 2px dotted #91acf3;
    padding: 10px 20px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.75rem;
    width: 100%;
    height: 70px;

    &.hide {
        display: none;
    }
}

.courses-content div {
    display: flex;
    align-items: center;
    gap: 5px;

    border-radius: 10px;
    padding: 10px 20px;

    &:hover {
        filter: brightness(90%);
        cursor: pointer;
    }
}

.all-courses {
    background-color: #91acf3;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    padding: 20px 20px;
    height: 70px;
    margin-bottom: 20px;

    &:focus {
        border: 1px solid darkcyan;
    }
}

.courses-content input {
    background-color: transparent;
    border: none;
    border-bottom: 1px solid #CCC;
    color: #555;
    font-size: 1.2rem;
    height: 50px;
    padding: 10px 0px;
    width: 325px;
    overflow: hidden;
    text-overflow: ellipsis;

    &:focus {
        outline: none;
        border-bottom: 1px solid black;
        color: black;
    }

    &.filled {
        border-bottom: none;
        color: black;
    }

    &.filled:hover {
        cursor: pointer;
    }
}

.courses-content input::-webkit-input-placeholder {
    color: #AAA;
}

.courses-content input:focus::-webkit-input-placeholder {
    color: black;
}

.courses-content img:hover {
    cursor: pointer;
}

.todos-heading {
    display: flex;
    align-items: center;
    gap: 40px;
}

.todo-content div {
    display: grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 1fr 12fr 1fr 1fr;
    gap: 10px;
    justify-content: center;
    align-items: center;

    padding: 20px 0px;

    border-bottom: 1px solid #CCC;
}

.todo-content div input[type='checkbox'] {
    grid-row: 1 / -1;
    width: 30px;
    height: 30px;
    justify-self: center;
}

.todo-content div #input-title {
    font-size: 1.2rem;
    
    &:focus {
        outline: none;
        border-bottom: 1px solid black;
        color: black;
    }

    &.filled {
        border-bottom: none;
        color: black;
    }

    &.filled:focus {
        border-bottom: none;
    }
}

.todo-content div #input-desc {
    font-size: 0.8rem;
    grid-column: 2 / 3;
    grid-row: 2 / 3;

    &:focus {
        outline: none;
        border-bottom: 1px solid black;
        color: black;
    }

    &.filled {
        border-bottom: none;
        color: black;
    }

    &.filled:focus {
        border-bottom: none;
    }
}

.todo-content div #course-name {
    grid-column: 3 / 4;

    &:focus {
        outline: none;
        border-bottom: 1px solid black;
        color: black;
    }

    &.filled {
        border-bottom: none;
        color: black;
    }

    &.filled:focus {
        border-bottom: none;
    }
}

.todo-content div input[type='date'] {
    grid-column: 3 / 4;
}

.todo-content div .delete-course-btn {
    grid-row: 2 / 3;
    grid-column: 4 / 5;
    width: 25px;
    height: 25px;
    justify-self: center;

    &:hover {
        cursor: pointer;
    }

    &.confirmed {
        grid-row: 1 / -1;
    }
}

.todo-content div .confirm-btn {
    grid-row: 1 / 2;
    grid-column: 4 / 5;
    width: 25px;
    height: 25px;
    justify-self: center;

    &:hover {
        cursor: pointer;
    }
}